<body>
  <div style="text-align: center;">
    <div style="border-bottom: black 2px solid;">
      <h1 style="font-size: 50px;">Travis Scott</h1>
    </div>

    <img alt="Kanye West" style="height: 400px; width: 300px; margin: 0 auto; display: block;"
      src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSdSgqVyLyek5excULTCby5a1JUfuTInVaTpDWdsd2WiSacbBPwVGNGMmBSIorscDgxypd31Mi3IQpCijPrHV_6xw" />
  </div>
  <p style="text-align: center; font-size: 30px;">Nació el 30 de abril de 1991 en Houston, Texas. Creció en Missouri
    City, una zona suburbana de clase media que limita con el suroeste de Houston. Webster vivió con su abuela, pero
    luego se mudó a los suburbios, donde su padre tenía su propio negocio.5​ Webster asistió a Elkins High School y se
    graduó a los diecisiete años.6​ Webster luego asistió a la Universidad de Texas en San Antonio antes de abandonar en
    su segundo año de carrera para dedicarse por completo a su carrera musical.</p>
</body>