<body>
  <div style="text-align: center;">
    <div style="border-bottom: black 2px solid;">
      <h1 style="font-size: 50px;">Kanye</h1>
    </div>

    <img alt="Kanye West" style="height: 400px; width: 300px; margin: 0 auto; display: block;"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Kanye_West_at_the_2009_Tribeca_Film_Festival_%28crop_2%29.jpg/1200px-Kanye_West_at_the_2009_Tribeca_Film_Festival_%28crop_2%29.jpg" />
  </div>
  <p style="text-align: center; font-size: 30px;">Nacido en Atlanta y criado en Chicago, West ganó popularidad a
    principios de los años 2000 como productor para la
    discográfica Roc-A-Fella Records, produciendo varios sencillos exitosos para artistas populares de esa época.</p>
</body>