<body>
  <div style="text-align: center;">
    <div style="border-bottom: black 2px solid;">
      <h1 style="font-size: 50px;">ASAP Rocky</h1>
    </div>

    <img alt="Kanye West" style="height: 400px; width: 300px; margin: 0 auto; display: block;"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe7C7P32VNXCW4562g5nuhPMHbegJhswBnTBZiR1IxwPyY4CHPY1TdAiNdyngpHlA6AHrMLdMsKKvuSRFsfHjs_Q" />
  </div>
  <p style="text-align: center; font-size: 30px;">Nacido en 1988, sus padres le pusieron el nombre de Rakim en tributo
    al legendario miembro del grupo Eric B. & Rakim. Cuando tenía 12 años, su padre fue a prisión por venta de drogas.
    Un año después, su hermano mayor fue asesinado cerca de su apartamento, lo que lo inspiró a rapear profesionalmente.
    Mayers, quien empezó a rapear a la edad de ocho años, creció admirando al grupo hip hop de Harlem, The Diplomats, y
    entre sus influencias también se encuentran otros raperos de la época de los 90's como Tupac Shakur (a quién de
    hecho considera un rapero "épico"), Three 6 Mafia, Mobb Deep, Wu-Tang Clan, UGK, Run DMC y Bone Thugs-n-Harmony.
    Tras estar viviendo con su madre en un refugio y también por los alrededores de Manhattan, Mayers se mudó a Elmwood
    Park, en Nueva Jersey.</p>

</body>