<body>
  <div style="text-align: center;">
    <div style="border-bottom: black 2px solid;">
      <h1 style="font-size: 50px;">Tyler the creator</h1>
    </div>

    <img alt="Kanye West" style="height: 400px; width: 300px; margin: 0 auto; display: block;"
      src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS-GrhMjqA_D9wIWdPHW5-dHy2Rl1TnlmUFb8IJWHLk08ijmN6Y0rlRo5cKArNC2zsHMRsZ1wnGRDkR4mKu5zmIaw" />
  </div>
  <p style="text-align: center; font-size: 30px;">Tyler Gregory Okonma (Los Ángeles, California; 6 de marzo de 1991),
    mejor conocido artísticamente como Tyler, the Creator, es un músico, rapero, productor discográfico, director, actor
    y diseñador de moda estadounidense. Okonma ha sido elogiado en los medios como una de las figuras más influyentes de
    la cultura pop de su generación, gracias a sus estilos de música y de moda únicos, eclécticos y coloridos,
    popularizando la música rap como un "fenómeno de Internet" que incluyó una nueva ola de artistas de hip-hop y R&B
    alternativos durante la década de 2010.</p>
</body>