<body>
  <div style="text-align: center;">
    <div style="border-bottom: black 2px solid;">
      <h1 style="font-size: 50px;">XXXtentacion</h1>
    </div>

    <img alt="Kanye West" style="height: 400px; width: 300px; margin: 0 auto; display: block;"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Xxxtentacion_%28cropped%29.jpg/640px-Xxxtentacion_%28cropped%29.jpg" />
  </div>
  <p style="text-align: center; font-size: 30px;">Nacido en Plantation, Florida, XXXTentacion pasó la mayor parte de su
    infancia en Lauderhill. Comenzó a escribir música después de ser liberado de un centro de detención juvenil y pronto
    comenzó su carrera musical en SoundCloud en 2013, empleando estilos y técnicas que no eran convencionales en la
    música rap, como la saturación y los instrumentos pesados ​​con acompañamiento de guitarra, inspirándose en la
    tercera ola emo y grunge. En 2014, formó el underground colectivo Members Only junto con otros miembros, y pronto se
    convirtió en una figura popular del SoundCloud rap, una escena de música trap que toma elementos de la música lo-fi
    y la caja de ritmos Roland TR-808.</p>
</body>