<ion-header [translucent]="true" style="display: flex; align-items: center;">
  <ion-img src="https://pm1.aminoapps.com/6346/25001f9a647e41ef25e270f45078078c8e681150_hq.jpg" alt="Eminem rap"
    style="height: 80px; width: 100px;  "></ion-img>
  <ion-title style="font-size: 50px; font-family: 'Times New Roman', serif;">Artistas de Rap</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Artistas de rap</ion-card-title>

      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Kanye West"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Kanye_West_at_the_2009_Tribeca_Film_Festival_%28crop_2%29.jpg/1200px-Kanye_West_at_the_2009_Tribeca_Film_Festival_%28crop_2%29.jpg" />
            </ion-thumbnail>
            <ion-label>Kanye West</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Travis Scott</ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>XXXtentacion</ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Tyler the creator</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>Item</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>